[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
sphinx = "*"

[packages]
LightPipes = "==1.2.0"
matplotlib = "*"
numpy = "*"
Pillow = "*"
scipy = "*"
tensorflow = "==2.4.1"

[requires]
python_version = "3.8"
